<h1 class="main_title">Найди друзей, где бы они не прятались!</h1>
<p>Введи имя или ник друга и найди его сразу во всех соцсетях</p>
<form class="find_people" action="">
  <input type="text" placeholder="Вася Пупкин" autofocus="autofocus">
  <input type="submit" value="">
</form>
<a href="#">Парамтеры поиска</a>